html {
  height: 100%;
  width: 100%;
  background-color: #386641;
  text-align: center;
  justify-content: center;
}
.myTitle{
  font-Size: 50px;
  color: #BC4749;
  background-color: #A7C957;
  border: solid 5px;
  text-align: center;
}
.difficulty{
  color:#BC4749;
  background-color:#A7C957;
  font-size: 20px;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #F2E8CF;
  padding: 5px;
  width: 300px;
}
.btnClass{
  font-size: 30px;
  height: 75px;
  width: 75px;
  
}

